h1 {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    clear: left;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 0px;
    margin-left: 40px;
}

li {
    float: left;
    display: inline-block;
    padding-right: 5px;
}

#status {
    width: 120px;
    margin: 10px;
    display: block;
}

.img {
    height: 80px;
    min-width: 140px;
    width: 140px;
    display: block;
    background-color: #f2e5ff;
}

img {
    width: 140px;
}

.hiddenelement {
    display: none;
}

.mint {
    background-color: #e5ffe5;
}