h1 {
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    display: block;
    width: 100%;
    padding-left: 0px;
    margin-left: 20px;
    margin-right: 40px;
    min-height: 78px;
    background-color:#fafafa;
    clear:left;
}
.first{height:100%;float:left;}
.second{padding-left:8px;margin-top:3px;overflow:hidden;height:100%;}
li {
    padding-right: 5px;
    padding-left: 2px;
}

#status {
    width: 120px;
    margin: 10px;
    display: block;
}

.img {
    height: 78px;
    min-width: 140px;
    width: 140px;
    display: block;
    background-color: #f2e5ff;
}

img {
    width: 140px;
    overflow:hidden;
}

.hiddenelement {
    display: none;
}

.mint {
    background-color: #e5ffe5;
}

#news-container {
    max-width:90%;
    height: 100%;
}

.source, .category, .date {
    display: inline-block;
    margin-right: 2px;
    margin-top: 2px;
}

.source {
    background-color: #4cff4c;padding: 2px 8px 2px 8px;color: white;
}
.link {
    display: block;
    font-size:16px;
    height:100%;
}

.date {
    padding-left: 3px;
}
.Digi{background-color:#f7df37;padding: 2px 8px 2px 8px;color: white;}
.Naisetjamuoti{background-color:#fee5f9;padding: 2px 8px 2px 8px;color: white;}
.Koti{background-color:#00008b;padding: 2px 8px 2px 8px;color: white;}
.Elokuvat{background-color:#41c4b5;padding: 2px 8px 2px 8px;color: white;}
.Kotimaa{background-color:#7eef86;padding: 2px 8px 2px 8px;color: white;}
.Kulttuuri{background-color:#fd3737;padding: 2px 8px 2px 8px;color: white;}
.Matkustus{background-color:#e29efe;padding: 2px 8px 2px 8px;color: white;}
.Pelit{background-color:#fd772e;padding: 2px 8px 2px 8px;color: white;}
.Ruoka{background-color:#a75140;padding: 2px 8px 2px 8px;color: white;}
.Talous{background-color:#928d88;padding: 2px 8px 2px 8px;color: white;}
.Terveys{background-color:#3cca72;padding: 2px 8px 2px 8px;color: white;}
.Tiede{background-color:#000;padding: 2px 8px 2px 8px;color: white;}
.Ulkomaat{background-color:#7deeda;padding: 2px 8px 2px 8px;color: white;}
.Urheilu{background-color:#7d8aee;padding: 2px 8px 2px 8px;color: white;}
.Viihde{background-color:#fd9be8;padding: 2px 8px 2px 8px;color: white;}
.Blogit{background-color:#bb8a8a;padding: 2px 8px 2px 8px;color: white;}
