<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Uusimmat uutiset - Uutispuro</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/img/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/img/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/mstile-144x144.png">
        <meta name="viewport" content="width=device-width, user-scalable=yes">
        <meta name="description" content="{{.Description}}"/>
        <style>a,a:visited,a:hover{color:#428bca;text-decoration:none !important;}.category a,.category a:visited{color:white;}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;margin:0px !important;}</style>
        <link media="only screen and (max-device-width: 481px)" href="/uutispuro-small-19.css" type="text/css" rel="stylesheet">
        <link media="only screen and (min-device-width: 481px) and (max-device-width: 1024px)" href="/uutispuro-m-19.css" type="text/css" rel="stylesheet">
        <link media="screen and (min-device-width: 1025px)" href="/uutispuro-19.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="language"><a href="/fi/">Suomi</a> | <a href="/en/">English</a></div>
        <h1>Uutispuro</h1>    
        <div id="status"></div>
        <div id="adds">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1089590297250746"
                 data-ad-slot="8078296168"
                 data-ad-format="horizontal"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
        <div id="news-container">
            {{ range .Items }}
            <ul>
                <li class="first">
                    {{if eq .Source "Turun Sanomat"}}<div class="img"><img class="imgsize" onerror="this.src=''" src="{{ .Enclosure.Url }}" onerror="this.style.display='none'"/></div>
                    {{else}}<div class="img black"><img class="imgsize" onerror="this.src=''" src="{{ .Enclosure.Url }}" onerror="this.style.display='none'"/></div>{{end}}
                </li>
                <li class="second">
                    <div class="source">{{ .Source }}</div>
                    <div class="category {{ .Category.StyleName }}">
                        <a href="/{{if eq $.Lang 1}}fi{{else}}en{{end}}/category/{{ .Category.Name }}">{{if eq $.Lang 1}}{{ .Category.Name }}{{else}}{{ .Category.EnName }}{{end}}</a>
                    </div>
                    <div class="date">{{ .Date.Local.Format "02.01. 15:04" }}</div>
                    <div class="social" id="{{ .Id.Hex }}"><span class='like'>{{ .Likes }}</span><span class='unlike'>{{ .Unlikes }}</div>
                    <div class="link"><a id="{{ .Id.Hex }}" target="_blank" href="{{ .Link }}">{{ .Title }}</a></div>
                </li>
            </ul>
            {{end}}          
        </div>
        <div id="error"></div>
    </body>
    <script>
    if (document.createStyleSheet) {
        document.createStyleSheet('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
    } else {
      var bootstrap = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(bootstrap);
      else window.addEventListener('load', bootstrap);
    }
    </script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
    <script src="/uutispuro-18.js"></script>
</html>